@media only screen and (min-width: 200px) and (max-width: 575px) {
    .homeBanner .carousel {
        height: 40vh;
    }

    .homeBanner .carousel .carousel-inner,
    .homeBanner .carousel .carousel-inner .carousel-item,
    .homeBanner .carousel .carousel-inner .carousel-item>div.position-relative,
    .homeBanner .carousel .carousel-inner .carousel-item img {
        height: 100%;
    }

    .bannerBgOver h1 {
        font-size: 25px;
    }

    .bannerBgOver strong {
        font-size: 16px;
    }

    .fancybox-slide--image .fancybox-content {
        width: 100% !important;
        height: 70% !important;
        position: static;
        top: initial;
        left: initial;
        transform: translate(0px, 136px) !important;
        /* vendor prefix start */
        -webkit-transform: translate(0px, 136px) !important;
        -moz-transform: translate(0px, 136px) !important;
        -o-transform: translate(0px, 136px) !important;
        -ms-transform: translate(0px, 136px) !important;
        /* vendor prefix end */
    }

    .events h2,
    .updates h2,
    .hed h2 {
        font-size: 24px;
    }

    .img-back {
        height: 30vh;
    }
    
    .legalTable {
        font-size: 14px;
    }

    .media {
        padding: 25px;
    }

    .contact :last-child {
        position: static !important;
        transform: translate(0, 0) !important;
    }
    
    .footerBlock {
        border: none;
    }

    .footerLogo p strong {
        font-size: 20px;
    }
    
    .footerLogo p span {
        font-size: 14px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .media {
        padding: 25px;
    }

    .fancybox-slide--image .fancybox-content {
        width: 100% !important;
        height: 70% !important;
        position: static;
        top: initial;
        left: initial;
        transform: translate(0px, 136px) !important;
        /* vendor prefix start */
        -webkit-transform: translate(0px, 136px) !important;
        -moz-transform: translate(0px, 136px) !important;
        -o-transform: translate(0px, 136px) !important;
        -ms-transform: translate(0px, 136px) !important;
        /* vendor prefix end */
    }

    .footerBlock {
        border: none;
    }
}