@keyframes zoomInOut {
    0% {
        transform: scale(1);
        /* vendor prefix start */
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        /* vendor prefix end */
    }
    50% {
        transform: scale(1.2);
        /* vendor prefix start */
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        /* vendor prefix end */
    }
    100% {
        transform: scale(1);
        /* vendor prefix start */
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        /* vendor prefix end */
    }
}

a {
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}

.shado-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /* vendor prefix start */
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /* vendor prefix end */
}

#goToTop {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    /* vendor prefix start */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    /* vendor prefix end */
    background: #e59625;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    /* vendor prefix start */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    /* vendor prefix end */
    align-items: center;
    /* vendor prefix start */
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    /* vendor prefix end */
    position: fixed;
    bottom: 30px;
    right: -100%;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s;
    /* vendor prefix start */
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    /* vendor prefix end */
}

.fixedButton {
    position: fixed;
    top: 50%;
    right: -60px;
    z-index: 9;
    transform: translateY(-50%) rotate(-90deg);
    /* vendor prefix start */
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    /* vendor prefix end */
}

.fixedButton button {
    background: #e59625;
    color: white;
    padding: 4px 15px;
    font-size: 22px;
    font-weight: 700;
    border: none;
    border-radius: 15px 15px 0px 0px;
    /* vendor prefix start */
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    /* vendor prefix end */
    box-shadow: 0px 0px 8px 0px #333;
    /* vendor prefix start */
    -webkit-box-shadow: 0px 0px 8px 0px #333;
    -moz-box-shadow: 0px 0px 8px 0px #333;
    -o-box-shadow: 0px 0px 8px 0px #333;
    -ms-box-shadow: 0px 0px 8px 0px #333;
    /* vendor prefix end */
    animation: zoomInOut 1.5s infinite;
    /* vendor prefix start */
    -webkit-animation: zoomInOut 1.5s infinite;
    -moz-animation: zoomInOut 1.5s infinite;
    -o-animation: zoomInOut 1.5s infinite;
    -ms-animation: zoomInOut 1.5s infinite;
    /* vendor prefix end */
}

.top-right {
    background: #222;
    height: 100%;
}

.nav-content {
    width: 100%;
    height: 100px;
    background-color: #FFF;
}

.headerDonateBtn {
    color: white;
    background: #e59625;
    padding: 5px 16px;
    border: none;
    border-radius: 10px;
    /* vendor prefix start */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    /* vendor prefix end */
    font-weight: bold;
    font-size: 20px;
    animation: zoomInOut 1s infinite ease-in-out;
    /* vendor prefix start */
    -webkit-animation: zoomInOut 1s infinite ease-in-out;
    -moz-animation: zoomInOut 1s infinite ease-in-out;
    -o-animation: zoomInOut 1s infinite ease-in-out;
    -ms-animation: zoomInOut 1s infinite ease-in-out;
    /* vendor prefix end */
}

.logo {
    width: 90px;
}

.nav-content h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    color: #666;
}

.nav-content h1 span {
    font-size: 14px;
}

.round::before {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    bottom: -8px;
    content: "";
    height: 15px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    /* vendor prefix start */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* vendor prefix end */
    width: 15px;
}

.round {
    width: 148px;
    height: 148px;
    border: 1px solid #ccc;
}


.round a.inner {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    color: #666;
    text-decoration: none;
    transition: 0.3s;
    /* vendor prefix start */
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    /* vendor prefix end */
}

.round a.inner .fa {
    font-size: 50px;
}

.round a:hover {
    background-color: #e59625;
    color: #FFF
}

.widget-box-inner h2 {
    color: #333;
    font: 300 24px/24px "Roboto Slab", serif;
}

.widget-box-inner p {
    font-size: 15px;
}

.hed h2 {
    border-bottom: 3px solid #e59625;
    color: #333;
    display: inline-block;
    font: 32px "Roboto Slab", serif;
    padding-bottom: 10px;
    position: relative;
}

.hed {
    margin-bottom: 24px;
}

.updates {
    background: #e59625;
}

.updatesBlock, .newsBlock {
    height: 400px;
}

.galImgBlock {
    height: 350px;
}

[id*=gallerySlider] .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: -1;
    transform: translateY(-50%);
    /* vendor prefix start */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    /* vendor prefix end */
    width: 100%;
    font-size: 70px;
    color: black;
}

[id*=gallerySlider] .owl-nav button.owl-prev, [id*=gallerySlider] .owl-nav button.owl-next {
    width: 50px;
}

[id*=gallerySlider] .owl-nav [class*=owl-]:hover {
    background: none;
    color: initial;
}

.updatesOver {
    opacity: 0;
    /* vendor prefix start */
    -webkit-opacity: 0;
    -mox-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    /* vendor prefix end */
    transform: scale(0);
    /* vendor prefix start */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    /* vendor prefix end */
    transform-origin: bottom;
    /* vendor prefix start */
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -o-transform-origin: bottom;
    -ms-transform-origin: bottom;
    /* vendor prefix end */
    transition: 0.8s;
    /* vendor prefix start */
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    /* vendor prefix end */
}

.updatesBlock:hover .updatesOver, .updatesBlock .updatesOver.in-view, .galImgBlock:hover .updatesOver, .galImgBlock .updatesOver.in-view {
    opacity: 1;
    /* vendor prefix start */
    -webkit-opacity: 1;
    -mox-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    /* vendor prefix end */
    transform: scale(1);
    /* vendor prefix start */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    /* vendor prefix end */
    transform-origin: top;
    /* vendor prefix start */
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    /* vendor prefix end */
}

.media {
    padding: 100px;
    background: url("../images/royalBG1.jpg") repeat;
}

.fancybox-slide--image .fancybox-content {
    width: 50% !important;
    height: 90% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    /* vendor prefix start */
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    /* vendor prefix end */
}

.fancybox-slide--image .fancybox-content img {
    width: 100%;
    height: 100%;
}

.events {
    background-color: #e59625;
}

.events h2, .updates h2 {
    color: #FFF;
    border-bottom: 3px solid #FFF;
    display: inline-block; 
    font: 28px "Roboto Slab", serif;
    padding-bottom: 10px;
}

.eventCard span {
    opacity: 0;
    /* vendor prefix start */
    -webkit-opacity: 0;
    -mox-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    /* vendor prefix end */
    transform: scaleX(0);
    /* vendor prefix start */
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    /* vendor prefix end */
    transform-origin: left;
    /* vendor prefix start */
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -o-transform-origin: left;
    -ms-transform-origin: left;
    /* vendor prefix end */
    transition: 0.8s;
    /* vendor prefix start */
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    /* vendor prefix end */
}

.eventCard:hover span, .eventCard span.in-view {
    opacity: 1;
    /* vendor prefix start */
    -webkit-opacity: 1;
    -mox-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    /* vendor prefix end */
    transform: scaleX(1);
    /* vendor prefix start */
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    /* vendor prefix end */
    transform-origin: right;
    /* vendor prefix start */
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -o-transform-origin: right;
    -ms-transform-origin: right;
    /* vendor prefix end */
}

.motiveOver {
    opacity: 0;
    /* vendor prefix start */
    -webkit-opacity: 0;
    -mox-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    /* vendor prefix end */
    transform: scaleY(0);
    /* vendor prefix start */
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    /* vendor prefix end */
    transform-origin: top;
    /* vendor prefix start */
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    /* vendor prefix end */
    pointer-events: none;
    transition: 0.8s;
    /* vendor prefix start */
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    /* vendor prefix end */
}

.motiveSection {
    height: 550px;
}

.motiveSection:hover .motiveOver, .motiveSection .motiveOver.in-view {
    opacity: 1;
    /* vendor prefix start */
    -webkit-opacity: 1;
    -mox-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    /* vendor prefix end */
    transform: scaleY(1);
    /* vendor prefix start */
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    /* vendor prefix end */
    transform-origin: bottom;
    /* vendor prefix start */
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -o-transform-origin: bottom;
    -ms-transform-origin: bottom;
    /* vendor prefix end */
}

.my-nav {
    width: 100%;
    background-color: #e59625;
    height: 50px;
}

.nav-menu1 li {
    color: #FFF;
    list-style: none;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    /* vendor prefix start */
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    /* vendor prefix end */
}

.nav-menu1 li a {
    display: block;
    color: #FFF;
    padding: 13px 20px;
}

.subMenu {
    background: #e59625;
    box-shadow: 0px 0px 8px 0px #333;
    /* vendor prefix start */
    -webkit-box-shadow: 0px 0px 8px 0px #333;
    -moz-box-shadow: 0px 0px 8px 0px #333;
    -o-box-shadow: 0px 0px 8px 0px #333;
    -ms-box-shadow: 0px 0px 8px 0px #333;
    /* vendor prefix end */
}

.nav-menu1 li:hover {
    background-color: #000048;
    border-bottom-color: #FFF;
}

.nav-menu1 li:hover .subMenu {
    display: block !important;
}

.bannerBgOver {
    background: linear-gradient(90deg, rgba(229,150,37,0.4) 0%, rgba(80,65,99,0.4) 50%, rgba(255,255,255,0) 100%);
    /* vendor prefix start */
    -webkit-background: linear-gradient(90deg, rgba(229,150,37,0.4) 0%, rgba(80,65,99,0.4) 50%, rgba(255,255,255,0) 100%);
    -moz-background: linear-gradient(90deg, rgba(229,150,37,0.4) 0%, rgba(80,65,99,0.4) 50%, rgba(255,255,255,0) 100%);
    -o-background: linear-gradient(90deg, rgba(229,150,37,0.4) 0%, rgba(80,65,99,0.4) 50%, rgba(255,255,255,0) 100%);
    -ms-background: linear-gradient(90deg, rgba(229,150,37,0.4) 0%, rgba(80,65,99,0.4) 50%, rgba(255,255,255,0) 100%);
    /* vendor prefix end */
}

.bannerBgOver strong {
    font-size: 20px;
}

.img-back {
    height: 35vh;
    color: #e59625;
    /* background: url("../images/education4.png") no-repeat top; */
    background: url("../images/whoAreWeBg.png") no-repeat top;
    background-size: 100%;
    /* vendor prefix start */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    /* vendor prefix end */
    transition: 0.8s;
    /* vendor prefix start */
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    /* vendor prefix end */
}

.img-back>div {
    background: rgba(11, 49, 88, 0.85);
}

.gallery .img-back {
    background: url("../images/galleryBg.png") no-repeat top;
    background-size: 100%;
    /* vendor prefix start */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    /* vendor prefix end */
}

.mediaBanner .img-back {
    background: url("../images/mediaBg.png") no-repeat top;
    background-size: 100%;
    /* vendor prefix start */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    /* vendor prefix end */
}

.supportUs .img-back {
    /* background: url("../images/supportUsBg.jpg") no-repeat center; */
    background: url("../images/supportUsBg.jpg") no-repeat center;
    background-size: 100%;
    /* vendor prefix start */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    /* vendor prefix end */
}

.healthcare .img-back {
    background: url("../images/healthcareBg.jpg") no-repeat center;
    background-size: 100%;
    /* vendor prefix start */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    /* vendor prefix end */
}

.education .img-back {
    background: url("../images/educationBg.jpg") no-repeat center;
    background-size: 100%;
    /* vendor prefix start */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    /* vendor prefix end */
}

.rural .img-back {
    background: url("../images/ruralDevelopmentBg.webp") no-repeat center;
    background-size: 100%;
    /* vendor prefix start */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    /* vendor prefix end */
}

.livelihood .img-back {
    background: url("../images/elderlyCommunityBg.webp") no-repeat center;
    background-size: 100%;
    /* vendor prefix start */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    /* vendor prefix end */
}

.contact .img-back {
    background: url("../images/contactUsBg.jpg") no-repeat center;
    background-size: 100%;
    /* vendor prefix start */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    /* vendor prefix end */
}

.aboutTeam h3 {
    width: max-content;
    margin: auto;
    font-family: 'Roboto Slab', serif;
}

.aboutTeam h3::before, .aboutTeam h3::after {
    content: "";
    width: 20px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    /* vendor prefix start */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    /* vendor prefix end */
    background: #e59625;
}

.aboutTeam h3::after {
    left: initial;
    right: -30px;
}

.aboutTeam .card {
    border: 1px solid #333;
    box-shadow: none;
    /* vendor prefix start */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    /* vendor prefix end */
    transition: 0.5s;
    /* vendor prefix start */
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    /* vendor prefix end */
}

.aboutTeam .card:hover {
    box-shadow: 0px 0px 10px 0px #333;
    /* vendor prefix start */
    -webkit-box-shadow: 0px 0px 10px 0px #333;
    -moz-box-shadow: 0px 0px 10px 0px #333;
    -o-box-shadow: 0px 0px 10px 0px #333;
    -ms-box-shadow: 0px 0px 10px 0px #333;
    /* vendor prefix end */
    transform: scale(1.05);
    /* vendor prefix start */
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* vendor prefix end */
}

.volForm label {
    background: white;
    position: absolute;
    top: 6px;
    left: 10px;
    transition: 0.3s;
    /* vendor prefix start */
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    /* vendor prefix end */
    padding: 0 5px;
}

.volFormBlock input {
    padding-top: 15px;
}

.volFormBlock label.active {
    top: -9px;
    left: 10px;
    font-size: 13px;
    background: white;
}

.volFormBlock input:not(:placeholder-shown) + label {
    top: -9px;
    font-size: 13px;
}

.contactUsBlock {
    background: #e59625;
}

.footerBlock {
    border-right: 1px solid white;
}

.footerLogo p strong {
    font-size: 25px;
}

.footerLogo p span {
    font-size: 14px;
}

.mobile-head {
    width: 100%;
    background-color: #FFF;
    z-index: 9
}

.mobile-head h1, .offcanvas-header h1 {
    font-size: 20px;
    line-height: 20px;
}

.mobile-head h1 span, .offcanvas-header h1 span {
    font-size: 14px;
}

.mobile-head .logo {
    width: 60px;
}